<div class="card bg-dark text-white">
  <img class="card-img" src="https://img.freepik.com/free-photo/stack-books-black-background_23-2147846050.jpg?size=626&ext=jpg" alt="Card image cap"
    width="50" height="1000">
  <div class="card-img-overlay">
    <p class="card-text"><br><br>A library is a place where books and sources of information are stored.
      They make it easier for people to get access to them for various purposes. Libraries are very helpful
      and economical too. They include books, magazines, newspapers,
      DVDs, manuscripts and more. In other words, they are an all-encompassing source of information.</p>
    <p>Most importantly, libraries are a great platform for making progress. When we get homework in class,
      the libraries help us with the reference material.
      This, in turn, progresses our learning capabilities and knowledge. It is also helpful in our overall development.
    </p>
  </div>
</div>
