<!-- <div class="image">
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="card text-center">
        <div class="card-block">
          <img src="https://cdn.pixabay.com/photo/2019/08/01/17/45/fantasy-4378018__340.jpg" alt="" class="img-fluid">
          <a routerLink="/booklist" class="list-group-item list-group-item-action list-group-item-primary">GET ALL BOOKS</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card text-center">
        <div class="card-block">
          <img src="https://cdn.pixabay.com/photo/2019/08/01/17/45/fantasy-4378018__340.jpg" alt="" class="img-fluid">
          <a routerLink="/bookrequest" class="list-group-item list-group-item-action list-group-item-primary">BOOK REQUEST</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="card text-center">
        <div class="card-block">
          <img src="https://cdn.pixabay.com/photo/2019/08/01/17/45/fantasy-4378018__340.jpg" alt="" class="img-fluid">
          <a routerLink="/bookreturn" class="list-group-item list-group-item-action list-group-item-primary">BOOK RETURN</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div> -->
