<div class="image">
  <br>
  <div class="card bg-dark text-white">
    <img src="https://www.sbicard.com/sbi-card-en/assets/media/images/contact-us/m-contact-us.jpg" class="card-img"
      alt="..." width="50vh" height="100">
    <div class="card-img-overlay">
      <h5 class="card-title">Contact Us</h5>
      <br>
      <br>
      <br><br><br>
      <p class="card-text">
        EmailId:Nmrec@gmail.com
        <br>
        Call us at:866-818-6768
      </p>
      <h1>Feel Free to Contact Us</h1>
    </div>
  </div>
</div>